.idea

# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.yarn/
.claude/
.pnpm-store/
build/

# BUCK
buck-out/
\.buckd/
*.keystore

# vscode
.vscode

# Environment variables
.env
